/* zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-font-smoothing: antialiased;
}

/*6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    padding-bottom: 100px;
}

/* zeroing end */

.base-container {
    max-width: 1740px;
    margin: 0 auto; /* will center this container */
    padding: 0 20px; /* To secure layout/container for small screen size */
}

.features-container {
    max-width: 1600px;
    margin: 0 auto; /* will center this container */
    padding: 0 20px; /* To secure layout/container for small screen size */
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.line {
    width: 80px;
    height: 0;
    border: 1px solid #525596;
}

.section-header {
    padding: 60px 0 0 0;
    background-color: #FFF2E1;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.logo {
    position: relative;
    align-items: center;
    top: 0;
    left: 0;
}

.polygon {
    position: relative;
    width: 100%;
    height: 100%;
}

.brand-name {
    position: absolute;
    top: 30px;
    left: 40px;
}

#open-hamburger-menu-icon {
    display: none;
}

#close-hamburger-menu-icon {
    display: none;
}

.menu-item, .menu-item:visited {
    margin-right: 80px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #252641;
}

.mnu-btn {
    padding: 12px 35px;
    border-radius: 80px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
}

.light-btn {
    margin-right: 35px;
    color: #6C6C6C;
    background-color: #FFFFFF;
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.03);
}

.orange-btn {
    color: #FFFFFF;
    background-color: #F48C06;
}

.main-container {
}

.introduction-container {
    background-color: #FFF2E1;
    padding-bottom: 420px;
    border-radius: 0 0 100% 100%;
    margin: 0 -400px;
}

.introduction-content-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.title {
    color: #2F327D;
    padding: 150px 0 35px 40px;
    margin-right: 60px;
    max-width: 690px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;
}

.orange-text {
    color: #F48C06;
}

.subtitle {
    max-width: 525px;
    margin: 0 0 50px 40px;
    color: #464646;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.btn-join {
    padding: 22px 38px;
    background-color: #F48C06;
    border-radius: 80px;
    color: #FFFFFF;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 32px 0 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FFFFFF;;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
}

.fa-solid {
    color: #23BDEE;
    font-size: 33px;
    margin-left: 7px;
}

.btn-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #252641;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.girl-image {
    position: absolute;
    right: 110px;
    top: -20px;
    border-radius: 0 0 750px/125px 0;
}

.popularity-icon {
    position: absolute;
    right: 70px;
    top: 100px;
}

.card {
    position: relative;
    display: flex;
    padding: 25px 28px;
    border-radius: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}

.card-icon-container {
}

.card-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

img.card-icon {
}

.card-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.card-title {
    color: #595959;

    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
}

.card-subtitle {
    margin-top: 10px;
    color: #545567;

    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.card-verified-sign {
    position: absolute;
    top: 21px;
    right: 16px;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 45px;
    margin-top: 20px;
    border-radius: 80px;
    max-width: 180px;
    cursor: pointer;
    background-color: #D8587E;
    color: #FFFFFF;

    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.card-students {
    position: absolute;
    left: 47%;
    top: 200px;
}

.card-congratulation {
    position: absolute;
    right: 0;
    top: 480px;
}

.card-congratulation .card-icon {
    background: #F88C3D;
}

.card-user .card-icon-container {
    position: relative;
    top: -35px;
}

.active-user {
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.card-user {
    position: absolute;
    left: 47%;
    top: 580px;
}

.partners-section {
    padding: 100px 0 0 0;
}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners-title {
    margin: 0 0 50px 0;
    color: #696984;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.02em;
}

.partners-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.partner-logo {
    padding: 0 35px;
    margin-bottom: 45px;
}

.services-section {
    padding: 110px 0 150px 0;
}

.section-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: #2F327D;
    margin: 0 0 20px 0;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /*line-height: 180%;*/
}

.section-subtitle {
    color: #696984;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    text-align: center;
}

.services-section .section-subtitle {
    max-width: 840px;
}

.service-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 160px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0 50px 50px 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 130px;
    background: #FFFFFF;
    box-shadow: 0 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
}

.service-card-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    border-radius: 100%;
    box-shadow: 0 10px 40px rgba(54, 61, 136, 0.06);
}

.service-card:nth-child(1) .service-card-icon {
    background-color: #5B72EE;
}

.service-card:nth-child(2) .service-card-icon {
    background-color: #F48C06;
}

.service-card:nth-child(3) .service-card-icon {
    margin-top: -98px;
    background-color: #29B9E7;
}

.service-card-title {
    color: #2F327D;
    margin-top: 80px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.service-card-subtitle {
    color: #696984;
    margin-top: 25px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
}

.section-about-us .section-subtitle {
    max-width: 1100px;
}

.about-us-content {
    padding: 80px 0 0 0;
}

.about-us-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 160px;
}

.for-instructors {
    background-image: url("/assets/for-instructors.png");
}

.for-students {
    background-image: url("/assets/for-students.png");
}

.about-us-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;
    border-radius: 20px;
    max-width: 600px;
    height: 400px;
    width: 100%;
}

.about-us-card-title {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    /*line-height: 48px;*/
    text-align: center;
    color: #FFFFFF;
}

.about-us-btn {
    border-radius: 80px;
    padding: 25px 35px;
    margin-top: 17px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    /*line-height: 33px;*/
    text-align: center;
    color: #FFFFFF;
}

.instructors-btn {
    border: 1px solid #FFFFFF;
}

.students-btn {
    background: rgba(35, 189, 238, 0.9);
}

.about-us-bottom-container {
    display: flex;
    flex-direction: row;
}

.about-us-description-container {
    flex: 0 1 50%;
    padding: 30px 0 0 110px;

}

.about-us-description-title {
    max-width: 655px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    color: #2F327D;
}

.about-us-description-text {
    max-width: 700px;
    margin: 30px 0;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}

.learn-more {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
    /*line-height: 180%;*/
    /* identical to box height, or 40px */
    text-decoration-line: underline;
    color: #696984;
}

.about-us-video-container {
    /*flex: 0 1 50%;*/
    position: relative;

}

.classroom-img {
    padding-left: 50px;
    z-index: 5;
    position: relative;
}

.square {
    border-radius: 20px;
    z-index: 0;
}

.blue-corner {
    width: 138px;
    height: 138px;
    background-color: #23BDEE;
    position: absolute;
    z-index: -1;
    left: 30px;
    top: -18px;
}

.orange-corner {
    width: 231px;
    height: 231px;
    background-color: #F3AC50;
    position: relative;
    left: 72.5%;
    bottom: 30%;
    z-index: -1;
}

.section-features .section-introduction {
    margin-bottom: 100px;
}

.feature-row {
    margin-bottom: 160px;
}

.feature-description-title {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2F327D;
    margin-bottom: 20px;
}

.feature-description-text {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}

.feature-description-container {
    flex: 0 1 50%;
    padding-left: 100px;
}

.feature-img-container {
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.feature-first-row .feature-img-container {
    /*flex: 0 0 50%;*/
    padding: 0 0;
    flex-shrink: 0;
}

.feature-first-row .feature-description-container {
    margin-left: 120px;
    padding: 0 0;
}

.feature-first-row .feature-description-title {
    max-width: 542px;
}

.feature-first-row .feature-description-item {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.feature-first-row .item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #FBFBFB;
    box-shadow: 0 15px 44px rgba(13, 15, 28, 0.12);
    flex-shrink: 0;
    padding: 30px 30px;
}

.feature-first-row.item-icon img {
    width: 100%;
}

.feature-first-row .item-text {
    margin-left: 42px;
}

.feature-second-row {
    margin-bottom: 90px;
}

.feature-second-row .feature-description-container {
    padding-top: 70px;
}

.feature-second-row .feature-description-title {
    max-width: 400px;
}

.feature-second-row .feature-description-text {
    max-width: 570px;
}

.feature-third-row {
    margin-bottom: 50px;
}

.feature-third-row .feature-description-container {
    padding-top: 130px;
}

.feature-third-row .feature-description-title {
    max-width: 350px;
}

.feature-third-row .feature-description-text {
    max-width: 600px;
}

.feature-fourth-row {
    margin-bottom: 90px;
}

.feature-fourth-row .feature-description-container {
    padding-top: 70px;
}

.feature-fourth-row .feature-description-title {
    max-width: 420px;
}

.feature-fourth-row .feature-description-text {
    max-width: 650px;
}

.feature-fifth-row {
    margin-bottom: 90px;
}

.feature-fifth-row .feature-description-container {
    padding-top: 120px;
}

.feature-fifth-row .feature-description-title {
    max-width: 300px;
}

.feature-fifth-row .feature-description-text {
    max-width: 550px;
}

.more-feature {
    align-items: center;
    justify-content: center;
}

.orange-light-btn {
    padding: 19px 38px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #F48C06;
    border: 1px solid #F48C06;
    border-radius: 80px;
    cursor: pointer;
}

.section-integrations {
    padding: 150px 0;
}

.integration-left-container {
    flex: 0 1 50%;
}

.integration-logo-row {
    align-items: center;
    justify-content: center;
}

.integration-logo-img {
    padding: 32px 50px;
}

.integration-right-container {
    flex: 0 1 50%;
    padding: 0 0 0 40px;
}

.section-name {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #525596;
    align-items: center;
}

.section-name :nth-child(2) {
    padding-left: 30px;
}

.integration-title {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 160%;
    color: #2F327D;
    padding: 30px 0;
}

.integration-text {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    color: #696984;
    padding-bottom: 40px;
}

.section-testimonials {
    padding-bottom: 150px;
}

.testimonials-left-container {
    flex: 0 1 50%;
    padding: 0 0 0 100px;
}

.testimonials-left-container .integration-text {
    line-height: 160%;
    padding-bottom: 20px;
    max-width: 550px;
}

.testimonial-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 38px;
    flex-shrink: 0;
}

.arrow {
    margin-left: 20px;
    padding: 25px 20px;
    display: flex;
    border: 1px solid #F48C06;
    flex-shrink: 0;
    border-radius: 100%;
}

.testimonials-right-container {
    flex: 0 1 50%;
}

.testimonials-first-row {
}

img .testimonials-first-row {
}

.testimonials-second-row {
}

.testimonial-card {
    max-width: 680px;
    padding: 40px 40px 30px 40px;
    margin: -205px 0 0 80px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
    border-left: 14px solid #F77766;
}

.testimonial-card-user-review {
    padding: 0 0 0 30px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #5F5F7E;
    border-left: 2px solid #BDBDD1;
}

.testimonial-card-user-data {
    padding: 30px 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.testimonial-card-user-name {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #5F5F7E;
}

.testimonial-card-rating-block {
}

.rating-img {
}

.testimonial-card-reviews {
    padding: 12px 0 0;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #80819A;
}

.news-title-container {
    align-items: center;
}

.news-title {
    padding-bottom: 30px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /*line-height: 180%;*/
    /*!* identical to box height, or 65px *!*/
    color: #2F327D;
}

.news-subtitle {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /*line-height: 180%;*/
    /* or 43px */
    /*text-align: center;*/
    color: #696984;

}

/*Make our webpage responsive*/

@media (max-width: 1800px) {
    .introduction-content-container {
        transform: scale(0.9);
    }

    .introduction-container {
        padding-bottom: 350px;
    }
}

@media (max-width: 1600px) {
    .introduction-content-container {
        transform: scale(0.8);
    }

    .introduction-container {
        padding-bottom: 280px;
    }

    .feature-first-row .feature-description-container {
        margin-left: 40px;
    }
}

@media (max-width: 1550px) {
    .services-section {
        padding-bottom: 20px;
    }

    .service-card:nth-child(3) .service-card-icon {
        margin-top: -50px;
    }

    .about-us-description-container {
        padding-left: 50px;
    }
}

@media (max-width: 1430px) {
    .introduction-content-container {
        transform: scale(0.7);
    }

    .introduction-container {
        padding-bottom: 210px;
    }

    .about-us-card:nth-child(1) {
        margin-bottom: 50px;
    }

    .orange-corner {
        left: 70.5%;
        bottom: 31%;
    }

    .testimonials-left-container {
        padding-left: 30px;
    }

    .testimonials-first-row img {
        width: 450px;
        height: 560px;
        /*transform: scale(0.8);*/
    }

    .testimonial-card {
        padding: 20px 20px 15px 20px;
        max-width: 470px;
        /*transform: scale(0.8);*/
    }

    .testimonial-card-user-review {
        padding: 0 0 0 15px;
        font-size: 20px;
        line-height: 125%;
    }

    .testimonial-card-user-data {
        padding: 15px 0 0;
    }

    .testimonial-card-user-name {
        font-size: 20px;
    }

    .rating-img {
        transform: scale(0.8);
    }

    .testimonial-card-reviews {
        font-size: 14px;
        padding: 8px 0 0;
    }
}

@media (max-width: 1300px) {

    /*Make our navbar responsive*/
    .header-container {
        position: relative;
    }

    .icon {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 40px;
    }

    .menu-container {
        display: none;
    }

    #open-hamburger-menu-icon {
        display: inherit;
    }

    /*
        The "responsive" class is added to the top-nav with JavaScript when the user clicks on the icon.
        This class makes the top-nav look good on small screens (display the links vertically instead of horizontally)
    */
    .header-container.responsive {
        flex-direction: column;
    }

    .responsive .logo {
        position: absolute;
        top: 0;
        left: 20px;
    }

    .responsive .menu-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .menu-item {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .mnu-btn {
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .orange-corner {
        left: 68.5%;
        bottom: 32%;
    }

    .about-us-description-title {
        font-size: 28px;
        line-height: 160%;
    }

    .about-us-description-text {
        font-size: 20px;
        line-height: 180%;
    }

    .feature-description-title {
        line-height: 120%;
    }

    .feature-first-row .feature-description-item {
        margin-top: 20px;
    }

    .feature-first-row .item-text {
        margin-left: 20px;
    }
}

@media (max-width: 1250px) {
    .introduction-container {
        display: flex;
        flex-direction: column;
    }

    .introduction-content-container {
        transform: scale(1.0);
    }

    .title {
        padding-top: 50px;
    }

    .left-container {
        position: relative;
    }

    .introduction-container {
        padding-bottom: 540px;
    }

    .girl-image {
        transform: scale(0.6);
        right: 0;
        top: 200px;
        border-radius: 0 0 380px/90px 0;
    }

    .card {
        transform: scale(0.7);
    }

    .card-user {
        left: 0;
        top: 750px;
    }

    .card-congratulation {
        right: 50%;
        top: 580px;
    }

    .card-students {
        left: 55%;
        top: 700px;
    }

    .popularity-icon {
        right: 0;
        top: 500px;
    }

    .about-us-card {
        margin: 0 0;
    }
}

@media (max-width: 1150px) {
    .about-us-description-container {
        padding-left: 10px;
    }

    .orange-corner {
        left: 66.5%;
        bottom: 34%;
    }

    .about-us-description-text {
        margin: 15px 0;
    }

    .feature-first-row {
        margin-bottom: 100px;
    }

    .feature-description-title {
        font-size: 30px;
    }

    .feature-first-row .item-text {
        line-height: 130%;
    }

    .feature-description-container {
        padding-left: 20px;
    }

    .feature-third-row .feature-description-container {
        padding-top: 70px;
    }

    .feature-fourth-row .feature-description-container {
        padding-top: 20px;
    }

    .feature-fifth-row .feature-description-container {
        padding-top: 40px;
    }
}

@media (max-width: 1000px) {
    .testimonials-left-container {
        padding: 0 30px 0 0;
    }

    .integration-title {
        font-size: 30px;
        line-height: 140%;
        padding: 30px 0 10px 0;
    }

    .integration-text {
        font-size: 20px;
        line-height: 140%;
        padding-bottom: 20px;
    }


}

@media (max-width: 850px) {
    .about-us-top-container {
        padding-bottom: 60px;
    }

    .about-us-bottom-container {
        flex-direction: column;
    }

    .about-us-description-container {
        margin-bottom: 70px;
    }

    .classroom-img {
        padding-left: 25px;
    }

    .blue-corner {
        left: 5px;
    }

    .orange-corner {
        display: none;
        /*left:68.5%;*/
    }

    .about-us-content {
        padding-bottom: 80px;
    }

    .feature-row {
        flex-direction: column;
    }

    .feature-description-container {
        padding: 0 0;
    }

    .feature-img-container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-top: 50px;
    }

    .feature-first-row .feature-description-container {
        margin: 0 0;
    }

    .feature-second-row .feature-description-container {
        padding-top: 0;
    }

    .feature-third-row {
        flex-direction: column-reverse;
    }

    .feature-third-row .feature-description-container {
        padding-top: 0;
    }

    .feature-fifth-row {
        flex-direction: column-reverse;
    }

    .feature-fifth-row .feature-description-container {
        padding-top: 0;
    }

    .testimonials-left-container .integration-text {
        line-height: 120%;
        padding-bottom: 10px;
    }

    .more-feature {
        margin-top: -80px;
    }

    .section-integrations {
        padding: 100px 0 150px 0;
    }

    .integration-btn {
        transform: scale(0.7);
        margin-left: -45px;
    }

    .testimonial-btn {
        transform: scale(0.7);
        margin-left: -60px;
    }

    .testimonials-first-row img {
        /*width: ;*/
        height: 450px;
    }

    .testimonial-card {
        margin: -100px 0 0 40px;
    }

    .testimonial-card-user-review {
        font-size: 14px;
    }

    .testimonial-card-user-data {
        padding: 0 0;
    }

    .testimonial-card-user-name {
        font-size: 16px;
    }

    .testimonial-card-rating-block {
        align-items: flex-end;
        justify-content: flex-end;
        /*position: relative;*/
        /*padding-top: 20px;*/
    }

    .rating-img {
        transform: scale(1);
        width: 80px;
        height: 15px;
    }

    .testimonial-card-reviews {
        font-size: 10px;
        padding: 4px;
    }
}

@media (max-width: 830px) {
    .section-integrations .integration-title {
        font-size: 25px;
    }

    .integration-left-container {
        padding-top: 30px;
    }
}

@media (max-width: 780px) {
    .section-integrations {
        padding: 100px 0;
    }

    .integration-logo-img {
        padding: 32px 35px;
    }
}

@media (max-width: 725px) {
    /*.testimonial-btn{*/
    /*    margin-left: -60px;*/
    /*}*/
}

@media (max-width: 700px) {
    .title {
        font-size: 30px;
        padding: 20px 0 20px 0;
        line-height: 50px;
    }

    .subtitle {
        margin: 0 0 20px 0;
        font-size: 20px;
        line-height: 120%;
    }

    .btn-container {
        margin: 0 0;
    }

    .girl-image {
        top: 90px;
    }

    .card-user {
        left: -5%;
        top: 550px;
    }

    .card-congratulation {
        right: 50%;
        top: 300px;
    }

    .card-students {
        left: 60%;
        top: 590px;
    }

    .popularity-icon {
        top: 290px;
    }

    .partners-title {
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .title {
        margin: 0 0 0 -38px;
        font-size: 20px;
        line-height: 100%;
    }

    .subtitle {
        max-width: 425px;
        margin: 0 0 20px 20px;
        font-size: 19px;
        line-height: 120%;
    }

    .btn-container {
        transform: scale(0.8);
    }

    .girl-image {
        top: 60px;
        border-radius: 0 0 220px/70px 0;
    }

    .card {
        transform: scale(0.6);
    }

    .popularity-icon {
        transform: scale(0.6);
    }

    .integration-row {
        flex-direction: column-reverse;
    }

    .section-testimonials {
        padding-bottom: 100px;
    }

    .testimonials-row {
        flex-direction: column;
    }

    .testimonials-left-container {
        padding: 0 0 40px 40px;
    }

    .testimonials-right-container {
        align-items: center;
    }

    .testimonial-card {
        margin: -80px 0 0 100px;
    }
}

@media (max-width: 570px) {
    .card {
        transform: scale(0.5);
    }

    .card-user {
        left: 3%;
    }

    .card-congratulation {
        right: 40%;
        top: 270px;
    }

    .card-students {
        left: 50%;
        top: 490px;
    }

    .popularity-icon {
        right: 15%;
    }


    .partners-title {
        font-size: 20px;
    }

    .services-section {
        padding: 80px 0 0 0;
    }

    .section-introduction {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .section-title {
        font-size: 25px;
    }

    .section-subtitle {
        text-align: left;
        font-size: 20px;
        line-height: 130%;
    }

    .service-card {
        padding: 0 25px 25px 25px;
        margin: 0 0 100px 0;
    }

    .service-card-title {
        margin-top: 30px;
        font-size: 25px;
    }

    .service-card-subtitle {
        font-size: 17px;
        margin-top: 10px;
    }

    .about-us-description-title {
        font-size: 23px;
    }

    .about-us-description-text {
        font-size: 17px;
    }

    .feature-description-title {
        font-size: 25px;
    }

    .feature-description-text {
        font-size: 20px;
    }

    .feature-fifth-row {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .btn-container {
        transform: scale(0.7);
    }

    .menu-item {
        font-size: 18px;
    }

    .mnu-btn {
        font-size: 18px;
        padding: 10px 0;
        line-height: 100%;
    }

    .feature-description-text {
        font-size: 17px;
    }

    .feature-first-row .item-icon {
        padding: 20px 20px;
    }

    .orange-light-btn {
        font-size: 18px;
    }

    .integration-right-container {
        padding-left: 0;
    }

    .testimonials-left-container {
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    .title {
        transform: scale(0.8);
        text-align: left;
        margin: 0 0 0 -24px;
    }

    .subtitle {
        transform: scale(0.8);
        margin-bottom: 0;
    }

    .btn-container {
        transform: scale(0.55);
    }

    .girl-image {
        top: 38px;
        border-radius: 220px/70px;
    }

    .card-congratulation {
        right: 27%;
        top: 220px;
    }

    .card-students {
        left: 36%;
        top: 420px;
    }

    .card-user {
        left: 11%;
    }

    .popularity-icon {
        right: 18%;
    }

    .partners-section {
        padding: 40px 0 0 0;
    }

    .partners-title {
        font-size: 18px;
        margin: 0 0 25px 0;
    }

    .partner-logo {
        transform: scale(0.7);
        margin: 0 0 25px 0;
        padding: 0 20px;
    }


    .about-us-card {
        height: 250px;
    }

    .about-us-card-title {
        font-size: 25px;
    }

    .about-us-btn {
        font-size: 18px;
        padding: 20px 25px;
    }

    .blue-corner {
        width: 75px;
        height: 75px;
        left: 8px;
        top: -15px;
    }

    .testimonial-card {
        margin-left: 50px;
    }
}

@media (max-width: 400px) {
    .menu-item {
        font-size: 14px;
        line-height: 130%;

    }

    .mnu-btn {
        font-size: 14px;
    }

    .service-card-title {
        font-size: 22px;
        line-height: 150%;
    }

    .line {
        width: 50px;
    }

    .section-name {
        font-size: 17px;
        line-height: 25px;
    }

    .section-name :nth-child(2) {
        padding-left: 15px;
    }

    .section-integrations {
        padding-bottom: 50px;
    }

    .section-integrations .integration-title {
        font-size: 22px;
    }

    .integration-title {
        font-size: 22px;
    }

    .integration-text {
        font-size: 17px;
    }

    .integration-left-container {
        padding-top: 0;
    }

    .testimonial-card {
        margin-left: 20px;
    }
}

@media (max-width: 340px) {
    .title {
        transform: scale(0.7);
        text-align: left;
        margin: 0 0 0 -20px;
    }

    .subtitle {
        transform: scale(0.7);
    }

    .btn-container {
        transform: scale(0.5);
    }

    .about-us-content {
        padding-top: 40px;
    }

    .about-us-card {
        height: 200px;
    }

    .about-us-card:nth-child(1) {
        margin-bottom: 20px;
    }

    .item-text {
        font-size: 15px;
    }
}










